<!DOCTYPE html>
<html class="-webkit- pixel-ratio-1">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>建水河长</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" type="text/css" href="/static/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-weui.min.css">

    <script type="text/javascript" src="/static/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-weui.min.js"></script>
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
</head>

<body id="weisite" ontouchstart="" style="">
<div class="container">
    <div class="page__bd">
        <article class="weui-article">
            <h1 class="media_title">河长动态-标题</h1>
            <div class="media_meta_list"><em class="media_meta media_meta_text">2018-02-06 11:37</em></div>
            <div class="media_content">
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-family: 微软雅黑; letter-spacing: -1px; font-size: 14px;">9月23日，我区召开三级河长大会，市委常委、区委书记王荣出席。他要求，全面贯彻落实中央、省、市有关全面推行河长制的部署要求，深入推进我区河长制工作，尽心尽责当好河长，共建共享水韵大丰，以优异成绩迎接党的十九大胜利召开。</span></p>
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-family: 微软雅黑; letter-spacing: -1px; font-size: 14px;">王荣指出，全面推行河长制是中央部署的一项重大改革，是我国水治理体制和生态环境制度的重大创新。全区上下要按照上级部署要求，旗帜鲜明讲政治，切实增强做好河长制工作的责任感和紧迫感，把思想和行动统一到中央、省、市、区委的决策部署上来，坚持走生态优先、绿色发展的新路，切实把这项新制度贯彻落实到位，努力建设让群众满意的水环境。</span></p>
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-family: 微软雅黑; letter-spacing: -1px; font-size: 14px;">王荣强调，水环境直接关系着广大人民群众的生命财产安全，是广大群众最基本的环境诉求，也是最大的民生工程，当好河长意义重大。各级河长要坚持以人民为中心的发展思想，把加强水环境管理保护作为建设全面小康的重要内容，按照我区提出的“1188”总目标，全面推行河长制，着力改善水环境，把群众最关心、最直接、最现实的水生态利益落实好，顺应群众期盼。</span></p>
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-family: 微软雅黑; letter-spacing: -1px; font-size: 14px;">王荣要求，要明确河长的职责和任务。河道就是河长的“责任田”。河长要知河。对自己所负责管理的河道定期巡查，全面了解河道的基本情况，制定治理目标，明确时间节点，具体形成“一河一档”。河长要治河。坚持问题导向，统筹河底、河面、河岸治理，严守“控制增量、减少存量”底线，按照“一河一策”步骤和要求，对涉河问题，按照轻重缓急，科学分类，系统治理。河长要管河。按照“建立管护机构、明确管护责任、落实管护经费、统一管护标准、严格管护考核”的要求，建立专业化河道管护队伍，完善河道管护长效机制，严格河道管理监督考核，着力构建“互联互通、引排顺畅、水清岸洁、生态良好”的河网体系。</span></p>
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-family: 微软雅黑; letter-spacing: -1px; font-size: 14px;">王荣强调，区镇村三级河长要切实增强政治意识、大局意识、任务意识，勇于担当，履职尽责，不折不扣种好自己的“责任田”。<strong>要担当责任。</strong>带头增强河长意识，带头履行河长责任，对照《河长工作手册》，抓紧制订年度工作计划，量化具体事务，实化工作职责，完善配套措施，切实做到认河、巡河、治河、护河。<strong>要善谋办法。</strong>各级河长对治河过程中发现的问题，要细化分类，区别对待，落实相关职能部门跟踪处理，全力维护河道生命健康。<strong>要勤勉做事。</strong>坚持一线工作法，正常开展巡河活动，了解河道管理动态，认真研究对策措施，迅速化解涉河问题。</span></p>
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-family: 微软雅黑; letter-spacing: -1px; font-size: 14px;">王荣指出，要共建共享水韵大丰。加强组织领导，整合各方力量，优化水网、调活水体、改善水质，建设“河畅、水清、岸绿、景美”的水韵大丰，确保实现“1188”总目标，让大丰每条河更美丽，让大丰更美丽。<strong>要压紧压实责任。</strong>坚持以河长制考核办法和河长考核细则为依据，实行“一河一考核、一季一督查、一年一评比”制度，利用监督检查、考核问责和奖优罚劣等工作杠杆，压紧压实各级河长管理保护河道的第一责任。<strong>要加强联动协调。</strong>各级河长要进一步增强统筹意识，加强调度指挥，协调水利、环保、城管、公安等职能部门联动协作，建立“水面”与“水底”结合、“陆上”与“水面”结合治理的工作态势，用好河长联席会议制度、信息通报制度，形成齐抓共管的良好氛围。<strong>要宣传发动群众。</strong>组织开展群众喜闻乐见的主题宣传活动，向社会公布所有“河长”名单和联系电话，聘请老党员、退休老干部等担任“义务河长”和水环境监察员、宣传员，形成全社会关心、支持、参与、监督水环境治理的良好氛围，让全区人民共享水韵大丰建设成果。</span></p>
                <p style="line-height: 1.75em; text-align: left; text-indent: 2em;"><span style="font-size: 14px;"><span style="font-family: 微软雅黑;">区四套班子全体领导，各镇（区）党委、政府主要负责人，区直各部门主要负责人，</span><span style="font-family: 仿宋;">区、镇、村三级所有河长、河道警长，区河长制领导小组成员单位分管负责人，区、镇河长制办公室全体人员，共1100人</span><span style="font-family: 微软雅黑;">参加会议</span><span style="font-family: 微软雅黑; letter-spacing: -1px;">。</span></span>
                </p>
                <p><br></p>
            </div>
        </article>
    </div>
</div>

</body>

</html>