<!DOCTYPE html>
<html class="-webkit- pixel-ratio-1">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 图文组合列表-->
    <title>建水河长</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" type="text/css" href="/static/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-weui.min.css">
    <script type="text/javascript" src="/static/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-weui.min.js"></script>
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
    <style>
        img{ border:none;max-width:100%; height:100%;}
        .media_title{white-space: normal }
    </style>
</head>

<body id="weisite" ontouchstart="" style="">
<div class="container">
    <!-- 下拉刷新-->
    <div class="weui-pull-to-refresh__layer">
        <div class='weui-pull-to-refresh__arrow'></div>
        <div class='weui-pull-to-refresh__preloader'></div>
        <div class="down">下拉刷新</div>
        <div class="up">释放刷新</div>
        <div class="refresh">正在刷新</div>
    </div>
    <!-- 正文开始-->
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <!--<div class="weui-panel__hd">图文组合列表</div> -->
            <div class="weui-panel__bd" id="content">
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=1" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/598027f30bfe6.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">建水县：河长撸起袖子抓“双禁”</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=2" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/59c9cbb75ab5d.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">省长XXX开展XXX河长巡河检查 XXX陪同</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=3" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/59c9cb01240ad.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">我区召开三级河长大会</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=4" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/594344805c884.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">XXX镇:摸底排查 回访监督 规范畜禽养殖</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=5" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/59c8d1288fbc3.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">省河长办专题调研我区河长制考核工作</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=6" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/59bb9ac7bad5e.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">XXX副县长巡查区级河道</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=7" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/59bb993d2b809.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">XXX来丰巡查通榆河</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>
                <a href="http://lidq.free.ngrok.cc/news/article?articleId=8" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/static/images/594076cfac2b5.jpg"> </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title media_title">XX镇黄浦村： 治污提水质 多措保长效</h4>
                        <p class="weui-media-box__desc"></p>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <!-- 滚动加载 -->
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>

</div>
<script>

    //下拉刷新
    $(document.body).pullToRefresh(function () {
        // 下拉刷新触发时执行的操作放这里。
        // 从 v1.1.2 版本才支持回调函数，之前的版本只能通过事件监听
        //do something
        console.log("refresh...");
        setTimeout(function(){
            $(document.body).pullToRefreshDone();//加载完成，重置刷新状态
        },2000);
    });

    //滚动加载初始化并监听事件
    var loading = false;  //状态标记
    $(document.body).infinite().on("infinite", function() {
        console.log("loading1....");
        if(loading) return;
        loading = true;
        console.log("loading2....");
        setTimeout(function() {
            $("#content").append($("#content").html());
            loading = false;
            //$(document.body).destroyInfinite();
            //$(document.body).infinite();
        }, 1500);   //模拟延迟
    });

</script>
</body>

</html>