<!DOCTYPE html>
<html class="-webkit- pixel-ratio-1">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 河长职责 -->
    <title>建水河长</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="/static//css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static//css/jquery-weui.min.css">
    <script type="text/javascript" src="/static//lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static//lib/jquery-weui.min.js"></script>
    <link href="/static//css/global.css" rel="stylesheet" type="text/css">
</head>

<body id="weisite" ontouchstart="" style="">
<div class="container">
    <div class="page__bd">
        <article class="weui-article">
            <h1 class="media_title">河长职责</h1>
            <div class="media_meta_list"><em class="media_meta media_meta_text">2018-02-06 16:37</em></div>
            <div class="media_content">
                <section data-author="Wxeditor">
                    <article id="m404" class="yead_editor" data-author="Wxeditor" style="border: 0px; padding: 0px; margin: 5px auto; white-space: normal;">
                        <section style="margin: 0px; padding-bottom: 0px; box-sizing: border-box; display: inline-block; font-family: 微软雅黑;">
                            <section style="margin-top: 0px; margin-left: -5px; padding: 0px; float: left; transform: rotate(0deg); border: 0px solid rgb(0, 0, 0); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial;">
                                <section style="font-size: 14px; margin-bottom: -45px; padding: 0px;">
                                    <section style="margin:0px; padding:0;border-bottom:70px solid rgb(255,255,255); border-left:63px solid transparent; border-right:63px solid transparent; height:0; width:0"></section>
                                    <section class="yead_bdbc" style="margin: -57px 18px 0px; padding: 0px; border-bottom-width: 50px; border-bottom-style: solid; border-bottom-color: rgb(89, 195, 249); border-left-width: 45px; border-left-style: solid; border-left-color: transparent; border-right-width: 45px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px;"></section>
                                </section>
                                <section style="margin-left: 55px; padding: 0px;"><span style="color:#ffffff"><span style="font-size: 30px;">1</span></span>
                                </section>
                            </section>
                            <section style="font-size: 14px; margin: 13px 0px 0px -50px; padding: 0px; float: left; clear: none;">
                                <section class="yead_bgc" style="margin: 0px; padding:0 40px 0 50px; height: 50px; float: left; border-radius: 0px 1em 1em 0px; color: rgb(255, 255, 255); background-color: rgb(89, 195, 249);">
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 50px; overflow: hidden; clear: none; font-size: 16px; font-weight: bold; text-align: center;"><span style="font-family: 宋体, SimSun;"><strong><span style="font-size: 21px;">总河长、总警长</span></strong>
												</span>
                                    </p>
                                </section>
                            </section>
                        </section>
                    </article>
                    <p><br></p>
                    <article id="m1445" class="yead_editor yead-selected" data-author="Wxeditor" style="font-size:14px;border:0px;padding:0px;margin:5px auto;white-space: normal;">
                        <section style="margin:0 auto;padding:0;box-sizing:border-box">
                            <section class="wx-bg yead_bgc" data-wxsrc="https://mmbiz.qlogo.cn/mmbiz_png/ianq03UUWGmIDLYyVZsymkTnBibBPxwxoW5NiaYm1wgdxXMUPtvufX4DkY9jMeJfpWqHibcI1rGy1bptX2hTCBy5lw/0?wx_fmt=png" style="border-style: solid; -webkit-border-image: url(http://imgcdn.wxeditor.com/Uploads/Material/58dcc441dc284.png) 50 fill; border-width: 20px; padding: 0px; line-height: 30px;">
                                <p style="border: 0px; padding: 0px; margin-top: 0px; margin-bottom: 0px;"><span style="line-height: 35px; text-align: justify; text-indent: 42px; font-size: 16px; font-family: 宋体, SimSun; background-color: rgb(245, 247, 246);">&nbsp; &nbsp;</span><span style="font-size: 16px; font-family: 宋体, SimSun;"><span style="font-size: 16px; line-height: 35px; text-align: justify; text-indent: 42px; background-color: rgb(245, 247, 246);"> 总河长承担总督导、总调度职责，督促各级河长和相关单位履行职责，进行考核问责。总警长牵头协调河道治安管理</span><span style="font-size: 16px; color: inherit; line-height: 35px; text-align: justify; text-indent: 42px; background-color: rgb(245, 247, 246);">。</span></span>
                                </p>
                            </section>
                        </section>
                    </article>
                    <p><br></p>
                    <article id="m404" class="yead_editor" data-author="Wxeditor" style="font-size:14px;border:0px;padding:0px;margin:5px auto;white-space: normal;">
                        <section style="margin: 0px; padding-bottom: 0px; box-sizing: border-box; display: inline-block; font-family: 微软雅黑;">
                            <section style="margin-top: 0px; margin-left: -5px; padding: 0px; float:left; transform:rotate(0); -webkit-transform:rotate(0); border:0px solid rgb(0,0,0)">
                                <section style="margin-bottom:-45px; padding:0;">
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border-bottom-width: 70px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); border-left-width: 63px; border-left-style: solid; border-left-color: transparent; border-right-width: 63px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px;"><br></p>
                                    <section class="yead_bdbc" style="margin: -57px 18px 0px; padding: 0px; border-bottom-width: 50px; border-bottom-style: solid; border-bottom-color: rgb(89, 195, 249); border-left-width: 45px; border-left-style: solid; border-left-color: transparent; border-right-width: 45px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px;"></section>
                                </section>
                                <section style=" margin-left:55px; padding:0;"><span class="autonum" style="color:rgb(255,255,255); font-size:30px;">2</span></section>
                            </section>
                            <section style="margin:13px 0 0 -50px; padding:0; float:left; clear:none">
                                <section class="yead_bgc" style="margin: 0px; padding:0 40px 0 50px; height: 50px; float: left; border-radius: 0px 1em 1em 0px; color: rgb(255, 255, 255); background-color: rgb(89, 195, 249);">
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 50px; overflow: hidden; clear: none; font-size: 16px; font-weight: bold; text-align: center;"><span style="font-family: 宋体, SimSun;"><strong><span style="font-size: 21px;">各级河长、河段长</span></strong>
												</span>
                                    </p>
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 50px; overflow: hidden; clear: none; font-size: 16px; font-weight: bold;"><span style="font-family: 宋体, SimSun;"><strong><span style="font-size: 21px;"><br></span></strong>
												</span>
                                    </p>
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 50px; overflow: hidden; clear: none; font-size: 16px; font-weight: bold;"><br></p>
                                </section>
                            </section>
                        </section>
                    </article>
                    <p><br></p>
                    <article id="m1435" class="yead_editor" data-author="Wxeditor" style="font-size:14px;border:0px;padding:0px;margin:5px auto;white-space: normal;">
                        <section style="margin:0 auto;padding:0;box-sizing:border-box">
                            <section class="wx-bg yead_bgc" data-wxsrc="https://mmbiz.qlogo.cn/mmbiz_png/ianq03UUWGmI9C08F0xksria2z1ypzN4bDG1MOdMMUiacjgaI87uYOhcy7O1W4weLTuuXYt07brlqgfmibWt6OibJicg/0?wx_fmt=png" style="border-style:solid;-webkit-border-image:url(http://imgcdn.wxeditor.com/Uploads/Material/58db7a11e4c5f.png)105 33 25 fill;color:#333;border-width:37px 10px 10px;padding:5px 10px">
                                <p style="text-indent: 43px; line-height: 35px;"><span style="font-family: 宋体, SimSun; font-size: 16px;">各级河长是河道管理与保护的直接责任人，主要承担以下职责：</span></p>
                                <p style="text-indent: 43px; line-height: 35px;"><span style="font-family: 宋体, SimSun; font-size: 16px;">1.负责指导河道的管理、保护、治理、开发利用工作。</span></p>
                                <p style="text-indent: 43px; line-height: 35px;"><span style="font-family: 宋体, SimSun; font-size: 16px;">2.组织沿河镇（区）提升污染物收集能力和处置能力，指导推进城乡水环境综合整治，强化截污纳管、雨污分流，加快污水处理厂建设，加强黑臭河道治理，改善水环境。</span></p>
                                <p style="text-indent: 43px; line-height: 35px;"><span style="font-family: 宋体, SimSun; font-size: 16px;">3.推进国考、省考和小康考核断面水质达标工作；协调解决河道管理保护重大问题。</span></p>
                                <p style="text-indent: 43px; line-height: 35px;"><span style="font-family: 宋体, SimSun; font-size: 16px;">4.牵头开展专项检查和集中治理，对非法侵占河道水域岸线和航道、盗采水土资源、破坏河道工程设施、违法取水排污、违法捕捞等突出问题依法进行清理整治。</span></p>
                                <p style="text-indent: 43px; line-height: 35px;"><span style="font-family: 宋体, SimSun; font-size: 16px;">5.对河段长和有关责任部门履职情况进行督导与考核。</span></p>
                                <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp; &nbsp; 各级河段长负责落实河长交办的具体工作。</span></p>
                            </section>
                        </section>
                    </article>
                    <p><br></p>
                    <article id="m404" class="yead_editor" data-author="Wxeditor" style="font-size:14px;border:0px;padding:0px;margin:5px auto;white-space: normal;">
                        <section style="margin: 0px; padding-bottom: 0px; box-sizing: border-box; display: inline-block; font-family: 微软雅黑;">
                            <section style="margin-top: 0px; margin-left: -5px; padding: 0px; float:left; transform:rotate(0); -webkit-transform:rotate(0); border:0px solid rgb(0,0,0)">
                                <section style="margin-bottom:-45px; padding:0;">
                                    <section style="margin:0px; padding:0;border-bottom:70px solid rgb(255,255,255); border-left:63px solid transparent; border-right:63px solid transparent; height:0; width:0"><br></section>
                                    <section class="yead_bdbc" style="margin: -57px 18px 0px; padding: 0px; border-bottom-width: 50px; border-bottom-style: solid; border-bottom-color: rgb(89, 195, 249); border-left-width: 45px; border-left-style: solid; border-left-color: transparent; border-right-width: 45px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px;"></section>
                                </section>
                                <section style=" margin-left:55px; padding:0;"><span class="autonum" style="color:rgb(255,255,255); font-size:30px;">3</span></section>
                            </section>
                            <section style="margin:13px 0 0 -50px; padding:0; float:left; clear:none">
                                <section class="yead_bgc" style="margin: 0px; padding:0 40px 0 50px; height: 50px; float: left; border-radius: 0px 1em 1em 0px; color: rgb(255, 255, 255); background-color: rgb(89, 195, 249);">
                                    <section style="margin:0px; padding:0px; line-height:50px; overflow:hidden; clear:none; font-size:16px; font-weight:bold; text-align:center;"><span style="font-family: 宋体, SimSun;"><strong><span style="font-size: 21px;">各级河道警长</span></strong>
												</span>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </article>
                    <p><span style="font-size:21px;font-family:仿宋">&nbsp;</span></p>
                    <article id="m1304" class="yead_editor" data-author="Wxeditor" style="font-size:14px;border:0px;padding:0px;margin:5px auto;white-space: normal;">
                        <section style="margin:0 auto;width:100%;">
                            <section class="wx-bg" data-wxsrc="https://mmbiz.qlogo.cn/mmbiz_png/ianq03UUWGmLcNaEcliao197KNrYlydibYckZJMaGJohuLd5Z9ic6picuV6kE3HibQIrrqiaFrbXIxiby3ODVmPEicleDicA/0?wx_fmt=png" style="margin:1px auto;-webkit-border-image:url(http://imgcdn.wxeditor.com/Uploads/Material/58c8a9602013a.png) 40 fill stretch;border-width:15px;border-style:solid;padding:5px 10px">
                                <section class="wx-bg" data-wxsrc="https://mmbiz.qlogo.cn/mmbiz_png/ianq03UUWGmJWdVPftyFu3ocZn7c67V0DScpbnwLK7BGsrSiaVUbWsVcNchmI6SLibCJeHoJ5mCsibFw9M48fzJJyA/0?wx_fmt=png" style="width: 100%; vertical-align: top; padding-bottom: 10px; margin-top: 10px; color: rgb(51, 51, 32);">
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 30px;"><span style="font-size: 16px; font-family: 宋体, SimSun; background-color: rgb(255, 255, 255);">&nbsp; &nbsp;各级河道警长负责组织领导河道管理范围内治安管理工作，包括船民、船舶治安管理，涉水行业、单位治安管理，水域治安巡逻防范和水上治安防控网络建设等。</span></p>
                                </section>
                            </section>
                        </section>
                    </article>
                    <p><span style="font-size:21px;font-family:仿宋"></span><br></p>
                    <p><br></p>
                    <p><br></p>
                </section>
                <p><br></p>
            </div>
        </article>
    </div>
</div>

</body>

</html>
